*.classpath
*.project
*.graffle
*.prefs
*.component
*.facet.core.xml

ApplicationAggregation/.classpath

ApplicationAggregation/.classpath

ApplicationAggregation/.project

ApplicationAggregation/.settings/org.eclipse.wst.common.component

ApplicationAggregation/.settings/org.eclipse.wst.common.project.facet.core.xml

ApplicationAggregation/.settings/org.eclipse.wst.common.project.facet.core.xml
