
.top_div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
    color: #a3a3a3;
    padding: 0 140px;
    font-size: 12px;
}

.top_div i {
    margin-right: 10px;
}

.top_div span {
    cursor: pointer;
}

.main_body {
    width: 500px;
    margin: 200px auto;
}

.input_div {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.input_div input {
    margin-top: 10px;
}

.right_part {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 10px;
}

.searchBtn_div {
    margin-top: 28px;
}


/* detail页面 */
.top_search_div {
    width: 850px;
    margin: 10px auto;
}

.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

.top_search_div input,
.top_search_div button {
    width: 150px;
    margin: 15px 10px;
}

.splice_div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #318aee;
    font-size: 22px;
    color: #fff;
}

.splice_div i {
    position: relative;
    top: 2px;
}

.movie_info {
    width: 100%;
    padding: 20px 0;
    background: url("../img/detail_top.jpeg") repeat;
}

.movie_name {
    font-size: 18px;
    color: #fff;
}

.grade {
    font-size: 20px;
    font-weight: 500;
    color: #78b2f5;
    display: inline-block;
    border-left: 2px solid #3b4967;
    padding-left: 10px;
    margin-left: 5px;
}

.country_div {
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #fd9025;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 5px;
}

.movie_photo {
    width: 215px;
    height: 300px;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: top;
}

.movie_photo img {
    width: 213px;
    height: 298px;
}

.detail_div {
    width: 610px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #fff;
}

.detail_div div {
    margin: 15px 0;
}

.detail_div span {
    color: #7885a2;
    font-weight: 300;
    line-height: 25px;
}

.content_div {
    padding: 25px 0;
    background-color: #ccd7e6;
}

.title_bar {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-left: 4px solid #072548;
    font-size: 22px;
    color: #072548;
}

.result_div {
    width: 100%;
    background-color: #fff;
}

.table {
    text-align: center;
}

.table thead {
    background-color: #072548;
    color: #fff;
}

.table tbody td {
    height: 65px;
    max-width: 200px;
}

.tip_div {
    color: #999;
    font-size: 14px;
}

.price_td {
    font-size: 24px;
    color: #fc6067;
}
